[Unit]
Description=Install updates on boot

[Service]
Type=simple
ExecStart=/usr/local/bin/openhd_sys_utils init

[Install]
WantedBy=multi-user.target
